//Font Red Hat Display Medium
@font-face {
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/RedHatDisplay-Medium.woff2') format('woff2');
}

//Font Red Hat Display Black
@font-face {
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/RedHatDisplay-Black.woff2') format('woff2');
}